.box {
    width: 100 + 20px;
    width: 100 - 80px;
    width: 100 * 2px;

    width: (68 / 37.5rem);
}


.father {
    color: red;
    .son {
        width: 100px;
        &:hover {
            color: blue;
        }
    }
}